.Actionsv2-menu-logged {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: grid;
  grid-template-areas: "avatar points arrow alert-s";
  grid-template-columns: 1fr auto 20px auto;
  margin-right: 1rem;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
* {
  font-family: Roboto, sans-serif;
  margin: 0;
}
user agent stylesheet div {
  display: block;
}
.Header-v2 {
  background: -webkit-linear-gradient(0deg, #1c3643, #273b47 25%, #1e5372);
  background: -moz-linear-gradient(0deg, #1c3643 0, #273b47 25%, #1e5372);
  background: -o-linear-gradient(0deg, #1c3643 0, #273b47 25%, #1e5372);
  background: -ms-linear-gradient(0deg, #1c3643 0, #273b47 25%, #1e5372);
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
  -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  color: #fff;
  font-size: 13px;
  height: 52px;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 31;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 16px;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
.Actionsv2-avatar {
  border-radius: 50%;
  grid-area: avatar;
  height: 20px;
  justify-self: end;
  margin-right: 10px;
  width: 20px;
}
img {
  border-style: none;
}
* {
  font-family: Roboto, sans-serif;
  margin: 0;
}
.Actionsv2-menu-logged {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: grid;
  grid-template-areas: "avatar points arrow alert-s";
  grid-template-columns: 1fr auto 20px auto;
  margin-right: 1rem;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.Header-v2 {
  background: -webkit-linear-gradient(0deg, #1c3643, #273b47 25%, #1e5372);
  background: -moz-linear-gradient(0deg, #1c3643 0, #273b47 25%, #1e5372);
  background: -o-linear-gradient(0deg, #1c3643 0, #273b47 25%, #1e5372);
  background: -ms-linear-gradient(0deg, #1c3643 0, #273b47 25%, #1e5372);
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
  -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  color: #fff;
  font-size: 13px;
  height: 52px;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 31;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 16px;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
.Actionsv2-menu-logged span {
  font-size: 14px;
  grid-area: points;
  justify-self: end;
  text-align: right;
  width: 100%;
}
* {
  font-family: Roboto, sans-serif;
  margin: 0;
}
.Actionsv2-menu-logged {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: grid;
  grid-template-areas: "avatar points arrow alert-s";
  grid-template-columns: 1fr auto 20px auto;
  margin-right: 1rem;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.Header-v2 {
  background: -webkit-linear-gradient(0deg, #1c3643, #273b47 25%, #1e5372);
  background: -moz-linear-gradient(0deg, #1c3643 0, #273b47 25%, #1e5372);
  background: -o-linear-gradient(0deg, #1c3643 0, #273b47 25%, #1e5372);
  background: -ms-linear-gradient(0deg, #1c3643 0, #273b47 25%, #1e5372);
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
  -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  color: #fff;
  font-size: 13px;
  height: 52px;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 31;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 16px;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
