<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='../CSS/Estilos.css' rel='stylesheet' type='text/css'>
    <title>Inicio|GrupoMind</title>
</head>
<body style="color: white;">
    <center>
        <h1 style="margin: 0px;justify-content: center; align-items: center;display: flex;">Bienvenido a  GrupoMind</h1> <br>
        <hr>
    </center>
    <h2>Hola, Nando</h2>
    <div class="rango" style="display: flex;align-items: center;text-align: center;">
        <h3>Tu Rango: </h3> <h3 style="color: green;margin-left: 7px;">Experto</h3>

    </div>
</body>
</html>